<html lang="en">
<head>
    <% include ../partials/head %>

</head>
<body class = "container" >
 <header>
    <% include ../partials/navbar %>
  </header>
  <div class="bio-header">
   	<h1> About Me  <img src="/images/wowdoge.jpeg" alt="HTML5 Icon" style="float:right;width:200px;height:200px;"> </h1>
  	
  	<p></p> 
  </div>
  	
</body>
  </html>
 