<html lang="en">
<head>
    <% include ../partials/head %>
</head>
 
<body>

  <header>
    <% include ../partials/navbar %>
  </header>
  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>YOYO web apps are so cool</h1>
    <h2> New Text yay!!!!!</h2>

  </div>

  <p id="demo">
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/>
  
  <script>
  
  $.get("test.html");
  
  
  </script> 

</body>

</html>